/* ================================================================
   ENCICLOPEDIA UNIVERSITARIA - Main Stylesheet
   Import all component stylesheets
   ================================================================ */

/* Import all stylesheets */
@import url('./variables.css');
@import url('./reset.css');
@import url('./components.css');
@import url('./layout.css');
@import url('./widgets.css');
@import url('./shortcodes.css');
@import url('./media.css');
